@import "font.css";
@import "navbar.css";

html
{
    margin: 7px 7px 0 7px;
}

body
{
	background-color: #372C2E !important;
}


#logo
{
	display: flex;
}

#banner h1
{ 
	font-size: 43px;
    font-family: Redressed;
    margin-left: 10px; 
    margin-top: 30px;
}
h1
{
    font-size: 38px;
}

#paragraphe
{
    font-size: 20px;
    padding-bottom: 0.2em;
    padding-right: 2em;
}

#paragraphe, li
{
    list-style-type: none;
    font-family: 'CabinClassic';
}
section
{
    text-align: left;
    margin-top: 5%;
    padding-left: 10%;
}

.copyrights
{
    margin-top: 13em;
}
